<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yjc.mapper.OrderMapper" >

    <insert id="insertOne" parameterType="com.yjc.entity.OrderEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_order
            (id, order_numer,create_time,pay_price)
        VALUES
            (#{id}, #{orderNumber},#{createTime},#{payPrice})
    </insert>

    <delete id="delete">
        delete from t_order where id = #{id}
    </delete>

    <update id="update" parameterType="com.yjc.entity.OrderEntity">
        UPDATE t_order
        SET
        <trim suffixOverrides="," suffix="WHERE id = #{id}">
            <if test="id != null">id = #{id},</if>
            <if test="orderNumber != null">order_number = #{orderNumber},</if>
        </trim>
    </update>

    <select id="query" resultType="HashMap" parameterType="HashMap">
        select id from t_order
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="id != null">
                oridder_id = #{id}
            </if>
            <if test="orderNumber != null">
                and order_number = #{orderNumber}
            </if>
        </trim>
    </select>

</mapper>